[submodule "commands/pp_cmd_fields"]
	path = commands/pp_cmd_fields
	url = ../pp_cmd_fields.git
[submodule "commands/pp_cmd_head"]
	path = commands/pp_cmd_head
	url = ../pp_cmd_head.git
[submodule "commands/pp_cmd_orderby"]
	path = commands/pp_cmd_orderby
	url = ../pp_cmd_orderby.git
[submodule "commands/pp_cmd_rename"]
	path = commands/pp_cmd_rename
	url = ../pp_cmd_rename.git
[submodule "commands/pp_cmd_str_match"]
	path = commands/pp_cmd_str_match
	url = ../pp_cmd_str_match.git
[submodule "commands/otl_v1_compatibility_command"]
	path = commands/otl_v1_compatibility_command
	url = ../otl_v1_compatibility_command.git
[submodule "commands/pp_cmd_datalines"]
	path = commands/pp_cmd_datalines
	url = ../pp_cmd_datalines.git
[submodule "commands/pp_cmd_ensure"]
	path = commands/pp_cmd_ensure
	url = ../pp_cmd_ensure.git
[submodule "commands/pp_cmd_pddf"]
	path = commands/pp_cmd_pddf
	url = ../pp_cmd_pddf.git
[submodule "commands/pp_cmd_rand"]
	path = commands/pp_cmd_rand
	url = ../pp_cmd_rand.git
[submodule "commands/pp_cmd_range"]
	path = commands/pp_cmd_range
	url = ../pp_cmd_range.git
[submodule "commands/pp_cmd_mapcolumns"]
	path = commands/pp_cmd_mapcolumns
	url = ../pp_cmd_mapcolumns.git
[submodule "commands/pp_cmd_readFile_writeFile"]
	path = commands/pp_cmd_readFile_writeFile
	url = ../pp_cmd_readFile_writeFile.git
[submodule "commands/pp_cmd_pd_merge"]
	path = commands/pp_cmd_pd_merge
	url = ../pp_cmd_merge.git
